ServerUASDisprog/src/META-INF/wsdl/localhost_8080/TestLoginWS/testloginservices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services.testlogin.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.testlogin.com/">

<xs:element name="BacaKapasitas" type="tns:BacaKapasitas"/>

<xs:element name="BacaKapasitasResponse" type="tns:BacaKapasitasResponse"/>

<xs:element name="BacaLotTerisi" type="tns:BacaLotTerisi"/>

<xs:element name="BacaLotTerisiResponse" type="tns:BacaLotTerisiResponse"/>

<xs:element name="BacaParkiran" type="tns:BacaParkiran"/>

<xs:element name="BacaParkiranResponse" type="tns:BacaParkiranResponse"/>

<xs:element name="CariIDUser" type="tns:CariIDUser"/>

<xs:element name="CariIDUserResponse" type="tns:CariIDUserResponse"/>

<xs:element name="CheckRegister" type="tns:CheckRegister"/>

<xs:element name="CheckRegisterResponse" type="tns:CheckRegisterResponse"/>

<xs:element name="UpdateKapasitasAcara" type="tns:UpdateKapasitasAcara"/>

<xs:element name="UpdateKapasitasAcaraResponse" type="tns:UpdateKapasitasAcaraResponse"/>

<xs:element name="UpdateStatusToClaim" type="tns:UpdateStatusToClaim"/>

<xs:element name="UpdateStatusToClaimResponse" type="tns:UpdateStatusToClaimResponse"/>

<xs:element name="bacaIdLokasi" type="tns:bacaIdLokasi"/>

<xs:element name="bacaIdLokasiResponse" type="tns:bacaIdLokasiResponse"/>

<xs:element name="bacaJumTiket" type="tns:bacaJumTiket"/>

<xs:element name="bacaJumTiketResponse" type="tns:bacaJumTiketResponse"/>

<xs:element name="cariIdAcara" type="tns:cariIdAcara"/>

<xs:element name="cariIdAcaraResponse" type="tns:cariIdAcaraResponse"/>

<xs:element name="checkLogin" type="tns:checkLogin"/>

<xs:element name="checkLoginResponse" type="tns:checkLoginResponse"/>

<xs:element name="getDaftarAcara" type="tns:getDaftarAcara"/>

<xs:element name="getDaftarAcaraResponse" type="tns:getDaftarAcaraResponse"/>

<xs:element name="getTickets" type="tns:getTickets"/>

<xs:element name="getTicketsResponse" type="tns:getTicketsResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="insertData" type="tns:insertData"/>

<xs:element name="insertDataResponse" type="tns:insertDataResponse"/>

<xs:element name="insertReservasiAcara" type="tns:insertReservasiAcara"/>

<xs:element name="insertReservasiAcaraResponse" type="tns:insertReservasiAcaraResponse"/>

<xs:element name="insertReservasiTiket" type="tns:insertReservasiTiket"/>

<xs:element name="insertReservasiTiketResponse" type="tns:insertReservasiTiketResponse"/>

<xs:element name="insertReservationParkir" type="tns:insertReservationParkir"/>

<xs:element name="insertReservationParkirResponse" type="tns:insertReservationParkirResponse"/>

<xs:element name="reservasiBaru" type="tns:reservasiBaru"/>

<xs:element name="reservasiBaruResponse" type="tns:reservasiBaruResponse"/>

<xs:complexType name="insertReservasiAcara">
<xs:sequence>
<xs:element name="total" type="xs:int"/>
<xs:element name="idAkun" type="xs:int"/>
<xs:element name="idDaftarAcara" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertReservasiAcaraResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDaftarAcara">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDaftarAcaraResponse">
<xs:sequence>
<xs:element name="return" type="tns:daftarAcara" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="daftarAcara">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="harga" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="jenis" type="xs:string" minOccurs="0"/>
<xs:element name="kapasitas" type="xs:int"/>
<xs:element name="lokasi" type="xs:string" minOccurs="0"/>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
<xs:element name="tanggal_pelaksanaan" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="myModel" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="insertData">
<xs:sequence>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertDataResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="BacaLotTerisi">
<xs:sequence>
<xs:element name="daftar_parkir_id" type="xs:int"/>
<xs:element name="tanggal" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BacaLotTerisiResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BacaKapasitas">
<xs:sequence>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BacaKapasitasResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkLogin">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CariIDUser">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CariIDUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateStatusToClaim">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateStatusToClaimResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="bacaIdLokasi">
<xs:sequence>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bacaIdLokasiResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTickets">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTicketsResponse">
<xs:sequence>
<xs:element name="return" type="tns:tiket" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tiket">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="idReservasi" type="tns:reservasiAcara" minOccurs="0"/>
<xs:element name="kode" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="reservasiAcara">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="idAkun" type="xs:int"/>
<xs:element name="idAkunn" type="tns:akun" minOccurs="0"/>
<xs:element name="idDaftarAcara" type="xs:int"/>
<xs:element name="idDaftarAcaraa" type="tns:daftarAcara" minOccurs="0"/>
<xs:element name="total" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="akun">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="created_at" type="tns:timestamp" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="updated_at" type="tns:timestamp" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="timestamp">
<xs:sequence>
<xs:element name="nanos" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CheckRegister">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CheckRegisterResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bacaJumTiket">
<xs:sequence>
<xs:element name="tiket" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bacaJumTiketResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BacaParkiran">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="BacaParkiranResponse">
<xs:sequence>
<xs:element name="return" type="tns:daftarParkir" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="daftarParkir">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="kapasitas" type="xs:int"/>
<xs:element name="lokasi" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="reservasiBaru">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="reservasiBaruResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cariIdAcara">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cariIdAcaraResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertReservationParkir">
<xs:sequence>
<xs:element name="no_plat" type="xs:string" minOccurs="0"/>
<xs:element name="harga" type="xs:int"/>
<xs:element name="no_parkir" type="xs:int"/>
<xs:element name="tanggal" type="xs:string" minOccurs="0"/>
<xs:element name="idAkun" type="xs:int"/>
<xs:element name="idDaftarParkir" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertReservationParkirResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="insertReservasiTiket">
<xs:sequence>
<xs:element name="kode" type="xs:string" minOccurs="0"/>
<xs:element name="idReservasi" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertReservasiTiketResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="UpdateKapasitasAcara">
<xs:sequence>
<xs:element name="namaAcara" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateKapasitasAcaraResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>